<header>
    <nav class="navbar navbar-expand-lg navigation">
        <a class="navbar-brand logo font-weight-bold ml-3 text-white" href="/" id="logo">Quizar</a>
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav m-auto">
                <li class="nav-item custom-nav-link text-center">
                    <a class="text-white nav-link font-weight-bold custom-nav-a" href="/rules">Правила</a>
                </li>
                <li class="nav-item custom-nav-link">
                    <a class="text-white text-center nav-link font-weight-bold custom-nav-a" href="/users/login">Влез</a>
                </li>
                <li class="nav-item custom-nav-link">
                    <a class="text-white text-center nav-link font-weight-bold custom-nav-a" href="/users/register">Регистрирай се</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="border-div"></div>
</header>