<div class="bg-blue text-white rounded row mb-2 w-100">
    <div class="mx-auto row">
        <tr class="p-2">
            <td class="border border-white h5 bg-darkblue">{{position}}.</td>
            <td class="border border-white h5 p-3">{{username}}</td>
            <td class="border border-white h5 p-3">{{correctAnswersCount}}<i class="far fa-check-circle ml-2 text-success"></i></td>
            <td class="border border-white h5 p-3">{{wrongAnswersCount}}<i class="far fa-times-circle ml-2 icon text-danger"></i></td>
        </tr>
    </div>
</div>