<section class="container mx-auto mt-5 jumbotron section-shadow">
    <h1 class="h1 text-center border-bottom border-dark pb-3 mb-2 text-blue">Въпроси</h1>
    <div class="mx-auto mt-4 text-center">
        <div class="a w-100 m-2 mx-auto col-lg-12 mb-2">
            <a href="/teachers/questions?page=1" class="link">
                <i class="fas fa-search size-5"></i>
                <h3>Виж въпроси</h3>
            </a>
        </div>
        <div class="mt-2 m-2 a w-100 mx-auto col-lg-12">
            <a href="/teachers/questions/add" class="link mx-auto">
                <i class="fas fa-plus-circle size-5"></i>
                <h3>Добави въпрос</h3>
            </a>
        </div>
    </div>
</section>