@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

@media all and (max-width: 540px){
    #hello-header{
        display: none;
    }
}
@media all and (max-width: 990px){
    #btn-toggle{
        position: absolute;
        right: 24px;
    }
    .fa-user{
        position: relative;
    }
}
@media all and (min-width: 990px){
    #hi-li{
        float: right;
    }
    .w-30{
        width: 100%;
    }
}
#logo{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
}
*{
    font-family: 'Comfortaa', cursive;
}

.bg-light-green{
    background-color: #16DDBA;
}

.light-green{
    color: #16DDBA;
}
.profile-icon{
    cursor: pointer;
}
a{
    text-decoration: none !important;
}
.a:hover{
    color: #3C8FDC;
    border: 2px solid #3C8FDC;
    transform: scale(1.05);
}
.a{
    color: #3C8FDC;
    border: 2px solid #3C8FDC;
    padding: 1em;
    border-radius: 50px;
}
.a-white:hover{
    color: white;
}
.size-5{
    font-size: 5em;
}
.size-3{
    font-size: 3em;
}
.border-white{
    border: 2px solid white;
}
.border-right-blue{
    border-right: 2px solid #3C8FDC;
}
.size-10{
    font-size: 11em;
}
.link{
    color: #3C8FDC;
}
.link:hover{
    color: #3C8FDC;
}
.link-white{
    color: white;
}
.link-white:hover{
    color: white;
}
.bg-skyblue{
    background-color: #3C8FDC;
}
.menu{
    border-radius: 7px;
    border: 2px solid white;
}
.size-i{
    font-size: 3em;
}
.icon{
    font-size: 20px;
}
.height-75{
    height: 75px;
}
.height-100{
    height: 100px;
}
#likeMessage{
    cursor: pointer;
    color: #3D7FDD;
    font-size: 35px;
}
#my-profile-div{
    display: none;
    position: absolute;
    top: 85px;
    right:5px;
    z-index: 1000;
}
.btn-game{
    width: 17em;
    font-size: 20px;
}
.game-start{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}
.menu-profile-link:hover{
    font-weight: bold;
}
#menu-arrow-collapse{
    cursor: pointer;
    font-size: 2em;
}
#description-area{
    height: 100px;
}
.scale:hover{
    transform: scale(1.2);
}
.bg-darkblue{
    background-color: #3D7FDD;
}
.w-85{
    width: 85%;
}
.bg-blue-blue{
    background: #009AF7;
}
shadow{
    box-shadow: 2px 0px 34px -1px rgba(0,0,0,0.75);
}
#rules-div{
    border: 6px solid #FF8935;
    padding: 3em;
    box-shadow: 2px 0px 34px -1px rgba(0,0,0,0.75);
}
.dark-green{
    background-color: #16DDBA;
}
#profile-icon-user{
    border: 2px solid #3D7FDD;
    padding: 20px;
    border-radius: 50px;
}
.border-rounded{
    border-radius: 50px;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #C7EEAC;
    border-color: #c3e6cb;
}
.alert-x{
    color: black;
}
.alert-danger {
    color: #721c24;
    background-color: #E46E67;
    border-color: #721c24;
}
.alert-warning {
    color: #856404;
    background-color: #F7ED91;
    border-color: #ffeeba;
}
.text-size-13{
    font-size: 13px;
}
.display-none{
    display: none;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.bg-blue{
    background-color: #2493CD;
}
.bg-yellow{
    background-color: #EBB40E;
}
.bg-green{
    background-color: #16DDBA;
}
.text-green{
    color: #16DDBA;
}
.text-orange{
    color: #FF8935 !important;
}
.text-blue{
    color: #3C8FDC !important;
}
.bg-orange{
    background-color: #FF8935;
}
body{
    background-color: #3C8FDC;
}
.section-shadow{
    box-shadow: 0px 6px 34px 0px rgba(0,0,0,0.75);
}
.text-medium{
    color: #434D66;
    border-radius: 60%;
}
.navigation{
    background-color: #3F8FDA;
}
a:hover{
    color: white;
}
.w-30{
    width: 30%;
}
.border-div{
    padding-top: 10px;
    background: #FF8935;
}
.btn-shadow{
    box-shadow: 0px -1px 20px 7px rgba(0,0,0,0.23);
}
#login-section, #register-section{
    border: 10px solid #FF8935;
}
table{
    width: 100%;
}
#z{
    z-index: 100;
}
.custom-nav-link {
    margin: 0 2em;
    padding: 5px;
    border-radius: 8px;
    border-bottom: 2px solid white;
}
.custom-nav-link:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition:transform 0.5s ease-in-out;
    -ms-transition:transform 0.5s ease-in-out;
}
.profile-icon{
    font-size: 3em;
    cursor: pointer;
    margin-left: 10px;
}
.scrollable {
    height: 300px;
    overflow-y: scroll;
}
.rules-btn-play{
    border: 2px solid;
}
#chat-section{
    box-shadow: 2px 6px 34px -1px rgba(0,0,0,0.75);
    border: 5px solid #FF8935;
}
.section-area{
    box-shadow: 2px 6px 34px -1px rgba(0,0,0,0.75);
    border: 5px solid #FF8935;
}
.w-99{
    width: 99%;
}
.rules-btn-play:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.3);

    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition:transform 0.5s ease-in-out;
    -ms-transition:transform 0.5s ease-in-out;
}
::-webkit-scrollbar-thumb{
    background: deepskyblue;
}
.bg-bg-blue{
    background: #3D7FDD;
}
.forum-a{
    text-decoration: none;
    color: #3680C4;
}
.forum-a:hover{
    color: #3680C4;
}
#textarea-forum{
    height: 20em;
}
#textarea-forum-comment{
    height: 13em;
}
.two-em-font-size{
    font-size: 2em;
}
.one-em-font-size{
    font-size: 1em;
}
.page-link{
    background: #3F8FDA;
}
.page-link:hover{
    background: white;
    color: #3F8FDA;
    border: 1px solid #3D7FDD;

}
.page-link-active, .page-link-active:hover{
    background: white;
    color: #3F8FDA;
    font-weight: bold;
    border: 1px solid #3D7FDD;
}
.link-title-forum:hover{
    border-bottom: 2px solid #3D7FDD;
}
.question-forum-section {
    background: #EAEAEA;
    border-radius: 10px;
    border: 1.5px solid #3F8FDA;
    padding: 0 15px;
}
.link-dark{
    color: #FC8735;
}
.link-dark:hover{
    color: #FC8735;
}
.comment-likes-d, .comment-likes-d:hover{
    color: white;
}
.img-a{
    width: 100px; !important;
    height: 150px; !important;
}
.img-adn{
    width: 120px;
    height: 120px;
}