<section class="container mx-auto mt-5 jumbotron section-shadow">
    <h1 class="h1 text-center border-bottom border-dark pb-3 mb-2 text-blue">Добави доклад</h1>
    <form action="/game/report/{{id}}" method="post">
        <div class="offset-lg-1">
            <div class="col-lg-10 mb-1">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Описание на проблема:</p>
                <div class="input-group mb-2 bg-info">
                    <div class="input-group-prepend ">
                    </div>
                    <textarea name="description" class="form-control font-weight-bold text-primary"
                              id="description-area" placeholder="Описание...">{{obj.description}}</textarea>
                </div>
            </div>
            <div class="d-block text-center">
                <input type="hidden" name="author" value="{{currentUser.username}}">
                <input type="submit" class="btn btn-outline-info p-3 m-3 mx-auto" value="Добави">
            </div>
        </div>
    </form>
</section>