<div class="section-area shadow-div container mx-auto mt-5 jumbotron ">
    <h2 class="text-center my-1">Избери категория</h2>
    <section class="text-center mx-auto">
        <section class="game-start">
            <form action="/game/settings" method="post" class="col-lg-5 mx-auto">
                <div class="mx-auto mb-3">
                    <p class="d-inline-block mb-1 text-primary font-weight-bold">Предмет:</p>
                    <select class="custom-select font-weight-bold" name="subject" id="subject">
                        <option value="all">Всички</option>
                        <option value="bulgarian">Български език и литература</option>
                        <option value="english">Английски език</option>
                        <option value="german">Немски език</option>
                        <option value="russian">Руски език</option>
                        <option value="maths">Математика</option>
                        <option value="informatics">Информатика</option>
                        <option value="technologies">Информационни технологии</option>
                        <option value="history">История</option>
                        <option value="geography">География</option>
                        <option value="psychology">Психология и логика</option>
                        <option value="biologie">Биология</option>
                        <option value="physics">Физика и астрономия</option>
                        <option value="philosophy">Философия</option>
                        <option value="science">Химия и опазване на околната среда</option>
                        <option value="music">Музика</option>
                        <option value="world-and-personality">Свят и личност</option>
                        <option value="art">Изобразително изкуство</option>
                        <option value="sport">Физическо възпитание и спорт</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-outline-info p-3 h1 mt-1 btn-game mx-auto" value="Започни игра"/>
            </form>
        </section>
    </section>
</div>