<div class="shadow-div container mx-auto mt-5 jumbotron section-area">
    <h2 class="text-center my-1 pb-1">Добре дошли в играта</h2>
    <section class="text-center mx-auto">
        <section class="game-start">
            <a href="/game/settings" class="btn btn-outline-info p-3 btn-game mt-4 mx-auto">Към Играта</a>
            <a href="/rules" class="btn btn-outline-info p-3 h1 mt-3 btn-game mx-auto">Правила</a>
        </section>        <img src="./images/maths2.png" alt="" class="img-a col-lg-2">

    </section>
</div>