<section class="section-area mx-auto mt-2 jumbotron w-99 row">
<section class="col-md-3">
    <ul class="list-group">
        <a href="/forum?page=1" class="btn btn-outline-info mb-3"><- Назад</a>
        {{#each elements}}
            <li class="list-group-item list-group-item-action">
                <a href="/forum/{{key}}?page=1" class="forum-a">{{value}}</a>
            </li>
        {{/each}}

    </ul>
</section>
    <section class="col-md-9">
        <form action="/forum/create" method="post">
            <h1 class="h2 text-center mt-1">Задаване на въпрос</h1>
            <div class="form-group">
                <label for="title">Заглавие</label>
                <input type="text" name="title" class="form-control" placeholder="Title" value="{{questionBody.title}}">
            </div>
            <div class="form-group">
                <label for="subject">Предмет</label>
                <select class="custom-select" name="subject" id="subject">
                    <option value="bulgarian">Български език и литература</option>
                    <option value="english">Английски език</option>
                    <option value="german">Немски език</option>
                    <option value="russian">Руски език</option>
                    <option value="maths">Математика</option>
                    <option value="informatics">Информатика</option>
                    <option value="technologies">Информационни технологии</option>
                    <option value="history">История</option>
                    <option value="geography">География</option>
                    <option value="psychology">Психология и логика</option>
                    <option value="biologie">Биология</option>
                    <option value="physics">Физика и астрономия</option>
                    <option value="philosophy">Философия</option>
                    <option value="science">Химия и опазване на околната среда</option>
                    <option value="music">Музика</option>
                    <option value="world-and-personality">Свят и личност</option>
                    <option value="art">Изобразително изкуство</option>
                    <option value="sport">Физическо възпитание и спорт</option>
                </select>
            </div>
            <div class="form-group">
                <label for="content">Описание</label>
                <textarea class="form-control" name="content" id="textarea-forum">{{questionBody.content}}</textarea>
            </div>
            <div class="text-center">
                <input type="submit" value="Задаване" class="btn btn-warning mx-auto p-3">
            </div>
        </form>
    </section>
</section>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="./js/chat.js"></script>
