<section class="container mx-auto mt-5 jumbotron" id="chat-section">
    <h1 class="h2 text-center border-bottom border-dark pb-3 mb-2 text-blue">Добре дошли в чат стаята на Quizar!</h1>
    <input type="hidden" class="form-control" id="usernameInput" placeholder="Username..." value="{{currentUser.username}}">
    <section id="messages" class="container bg-white py-3 scrollable mt-2">
        <section id="is-typing"></section>
    </section>
    <section class="row">
        <input type="text" id="message" class="form-control w-75 ml-3 mt-3">
        <i class="fas fa-thumbs-up mt-3 mx-lg-4 ml-2" id="likeMessage"></i>
        <button id="send-btn" class="btn btn-outline-info m-3 p-2 col-lg-1 text-uppercase">Изпрати</button>
    </section>
</section>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="./js/chat.js"></script>
