{{#if currentUser}}
    {{> header-logged}}
    <li>Hi, {{currentUser.username}}!</li>
    <a href="/users/logout">Logout</a>
{{else}}
    {{> header-not-logged}}
{{/if}}
{{#if successMessage}}
    {{> success-message}}
{{/if}}
{{#if errorMsg}}
    {{> error-message}}
{{/if}}