{{#if currentUser}}
    {{> header-logged}}
{{else}}
    {{> header-not-logged}}
{{/if}}
<div class="alert alert-warning w-85 mx-auto  my-5 font-weight-bold" role="alert" id="rules-div">
    <section>
        <h2 class="text-center mb-3">Правила на играта</h3>
            <section>
                Първо избирате предмет и вид на игра. Можете да избирате между 3 вида:
                "Лесен", "Труден" и "Победи часовника". След това забавлението започва, започвате да
                отговаряте на въпросите. Всеки въпрос има четири избираеми отговора. За всеки правилен отговор
                получавате точки. Колкото повече точки събирате толкова по-нагоре се изкачвате в ранклистата.
                Печелете точки и станете най-добрите!
                <br>
                <br>
                Има два вида класации. Една за ученици и една за учители. Учениците се състезават в три състезателни
                групи: "Зайци" от 5 до 7 клас, "Вълци" от 8 до 10 клас и "Лъвове" от 11 до 12 клас. Класирането е според
                точките на всеки ученик. Учителите ще се класират според броя на въпросите, който са добавили
                и според оценките на тях.
                <div class="w-100 mt-3 text-center">
                    <a href="/game/play" class="btn bg-white text-blue p-2 font-weight-bold h6 rules-btn-play">Играй</a>
                </div>
                </p>
            </section>
    </section>
</div>