{{#if currentUser}}
    {{> header-logged}}
{{else}}
    {{> header-not-logged}}
{{/if}}
<section class="container mx-auto mt-5 jumbotron section-shadow  border-orange">
    <h1 class="h1 text-center border-bottom border-dark pb-3 mb-2 text-blue">Администраторски панел</h1>
    <section class="row text-center ml-auto">
        <div class="mx-auto row mt-3">
            <div class="a w-30 m-2">
                <a href="/administration/users" class="link">
                    <i class="fas fa-users size-5"></i>
                    <h3>Потребители</h3>
                </a>
            </div>
            <div class="m-2 a w-30">
                <a href="/administration/questions" class="link">
                    <i class="fas fa-gamepad size-5"></i>
                    <h3>Въпроси</h3>
                </a>
            </div>
            <div class="m-2 a w-30">
                <a href="#" class="link">
                    <i class="fas fa-bug size-5"></i>
                    <h3>Репорти</h3>
                </a>
            </div>
            <div class="m-2 a w-30">
                <a href="#" class="link">
                    <i class="fas fa-award size-5"></i>
                    <h3>Мисии</h3>
                </a>
            </div>
            <div class="m-2 a w-30">
                <a href="#" class="link">
                    <i class="far fa-newspaper size-5"></i>
                    <h3>Статии</h3>
                </a>
            </div>
        </div>
    </section>
</section>