{{#if currentUser}}
    {{> header-logged}}
{{else}}
    {{> header-not-logged}}
{{/if}}
<section class="container mx-auto mt-5 jumbotron section-shadow">
    <h1 class="h1 text-center border-bottom border-dark pb-3 mb-2 text-blue">Въпроси</h1>
    <div class="mx-auto row mt-4 text-center">
        <div class="a w-30 m-2 mx-auto col-lg-4">
            <a href="/administration/questions/search" class="link">
                <i class="fas fa-search size-5"></i>
                <h3>Виж въпроси</h3>
            </a>
        </div>
        <div class="m-2 a w-30 mx-auto col-lg-4">
            <a href="/administration/questions/add" class="link mx-auto">
                <i class="fas fa-plus-circle size-5"></i>
                <h3>Добави въпрос</h3>
            </a>
        </div>
    </div>
</section>