<section class="container mx-auto mt-5 jumbotron section-shadow">
    <h1 class="h1 text-center border-bottom border-dark pb-3 mb-2 text-blue">Филтрирай въпроси</h1>
    <section class="row text-center mx-auto">
        <form action="/administration/questions/:subject/:class" method="post" class="col-lg-6 border-right-blue mt-3">
            <section>
                <div class="col-lg-12 mb-2">
                    <p class="d-inline-block mb-1 text-primary font-weight-bold">Предмет:</p>
                    <select class="custom-select font-weight-bold" name="subject" id="subject">
                        <option value="bulgarian">Български език и литература</option>
                        <option value="english">Английски език</option>
                        <option value="german">Немски език</option>
                        <option value="russian">Руски език</option>
                        <option value="maths">Математика</option>
                        <option value="informatics">Информатика</option>
                        <option value="technologies">Информационни технологии</option>
                        <option value="history">История</option>
                        <option value="geography">География</option>
                        <option value="psychology">Психология и логика</option>
                        <option value="biologie">Биология</option>
                        <option value="physics">Физика и астрономия</option>
                        <option value="philosophy">Философия</option>
                        <option value="science">Химия и опазване на околната среда</option>
                        <option value="music">Музика</option>
                        <option value="world-and-personality">Свят и личност</option>
                        <option value="art">Изобразително изкуство</option>
                        <option value="sport">Физическо възпитание и спорт</option>
                    </select>
                </div>
                <div class="col-lg-12 mb-3">
                    <p class="d-inline-block mb-1 text-primary font-weight-bold">Клас:</p>
                    <select class="custom-select font-weight-bold" name="class" id="grade">
                        <option value="5">5 клас</option>
                        <option value="6">6 клас</option>
                        <option value="7">7 клас</option>
                        <option value="8" selected>8 клас</option>
                        <option value="9">9 клас</option>
                        <option value="10">10 клас</option>
                        <option value="11">11 клас</option>
                        <option value="12">12 клас</option>
                    </select>
                </div>
            </section>
            <div class="col-lg-12">
                <input type="submit" class="btn btn-outline-info p-3 m-3 mx-auto" value="Филтрирай">
            </div>
        </form>
        <form action="/administration/questions/getById" method="get" class="mx-auto mt-3 col-lg-6">
            <div class="col-sm-12">
                <p class="d-inline-block mb-1 text-primary font-weight-bold">Търси по id:</p>
                <input type="text" name="id"class="form-control font-weight-bold text-primary col-lg-12">
                <input type="submit" class="btn btn-outline-info p-3 m-3 mx-auto" value="Търси">
            </div>
        </form>
    </section>
</section>