{{#if currentUser}}
    {{> header-logged}}
{{else}}
    {{> header-not-logged}}
{{/if}}
<section class="container mx-auto mt-5 jumbotron section-shadow border-orange">
    <h1 class="h2 text-center  border-dark pb-3 mb-2 text-blue">Потребители</h1>
    <section class="row text-center ml-auto">
        <table class=" bg-skyblue text-white">
            <tr class="">
                <th class="border border-white bg-darkblue"></th>
                <th class="border border-white bg-darkblue p-1">USERNAME</th>
                <th class="border border-white bg-darkblue p-1">FIRSTNAME</th>
                <th class="border border-white bg-darkblue p-1">LASTNAME</th>
                <th class="border border-white bg-darkblue p-1">SEE PROFILE</th>
            </tr>
        {{#each users}}
            {{> user}}
        {{/each}}
        </table>
    </section>
</section>