<section class="container mx-auto mt-5 jumbotron section-shadow">
    <h1 class="h2 text-center border-bottom border-dark pb-3 mb-2 text-blue">Потребители</h1>
    <section class="row text-center ml-auto">
        <table class="bg-skyblue text-white">
            <tr class="">
                <th class="border border-white bg-darkblue"></th>
                <th class="border border-white bg-darkblue p-1">USERNAME</th>
                <th class="border border-white bg-darkblue p-1">FIRSTNAME</th>
                <th class="border border-white bg-darkblue p-1">LASTNAME</th>
                <th class="border border-white bg-darkblue p-1">SEE PROFILE</th>
            </tr>
        {{#each users}}
            {{> user}}
        {{/each}}
        </table>
    </section>
    <ul class="pagination justify-content-center mx-auto mt-3">
        {{#if previousPage}}
            <li class="page-item"><a class="page-link" href="/rankings?page={{previousPage}}">Previous</a></li>
        {{/if}}
        <li class="page-item"><a class="page-link page-link" href="#">{{currentPage}}</a></li>
        {{#if nextPage}}
            <li class="page-item"><a class="page-link" href="/rankings?page={{nextPage}}">Next</a></li>
        {{/if}}
    </ul>
</section>